body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #faf8ef;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    background-color: #bbada0;
    padding: 10px;
    margin: auto;
    width: fit-content;
    border-radius: 10px;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    background: #cdc1b4;
    border-radius: 5px;
}

#new-game {
    background-color: #8f7a66;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
}

#new-game:hover {
    background-color: #776e65;
}
